---
const pageTitle = "About Me";
const titleColor = "purple";

const identity = {
  firstName: "Santhan",
  country: "South Africa",
  occupation: "Farmer",
  hobbies: ["photography", "birdwatching", "baseball", "surfing", "hiking"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

const happy = true;
const finished = true;
const goal = 3;
const skillColor = "navy";
const hobbieColor = "orange";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style define:vars={{ skillColor, hobbieColor }}>
  .skill {
    color: var(--skillColor);
    font-weight: bold;
  }
  .hobbies {
    color: var(--hobbieColor);
    font-style: italic;
  }
</style>

<BaseLayout pageTitle={pageTitle}; titleColor={titleColor}>
  <h2>... and my new Astro site!</h2>
  <p>Here's some stuff about me</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 4 && (
        <li>
          Some of my hobbies are:
          <span class="hobbies">
            {identity.hobbies[0]}, {identity.hobbies[1]}, {identity.hobbies[2]}
            and
            {identity.hobbies[3]}
          </span>
        </li>
      )
    }
  </ul>

  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}

  {finished && <p>I finished this tutorial!</p>}

  {
    goal === 3 ? (
      <p>My goal is to finish in 3 days.</p>
    ) : (
      <p>My goal is not 3 days.</p>
    )
  }

  <script>
    import "../scripts/menu.js";
  </script>
</BaseLayout>
